@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@450&display=swap');

:root {
  /* Custom CSS Variables for THEME */

  --text: #000;
  --background: #f2f4e3;

  --primary: #5043cb;
  --secondary: #e8ebcb;

  --accent: #170d72;

  /* --gradient: linear-gradient(90deg, #020024 0%, #170d72 35%, #5043cb 100%); */
  /* --base-300: #040401;
  --base-600: #f5f7de;
  --base-900: #475569;

  --accent-300: #d8b4fe;
  --accent-600: #8b5cf6;
  --accent-900: #6d28d9;

  --black: black; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

img {
  display: block;
  border-radius: 100px;
}

.container {
  height: 100vh;
  background-color: var(--secondary);
  padding: 2rem 2%;
  /* display: flex;
  flex-direction: column;
  place-content: center; */
}

.container-top {
  height: 5%;
  width: 100%;
}

.container-bottom {
  height: 95%;
  width: 100%;
  background-color: var(--background);
  border-radius: 25px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.container-bottom-head {
  /* height: 10%; */
  display: flex;
  place-content: center;
  place-items: center;
  /* padding: 1rem 15%; */
}
.container-bottom-body {
  height: 100%;
  padding: 1rem 15%;
  display: flex;
  place-content: center;
  place-items: center;
  /* margin: auto; */
}

.profile {
  position: absolute;
  right: 2%;
  top: 0.5rem;
}
