.my-schedules {
  display: flex;
  flex-direction: column;
  /* margin: 1rem; */
  /* padding: 1rem; */
  width: 100%;
  /* position: relative; */
}

.my-schedules-header {
  /* position: absolute;
  top: 0; */
}

.button {
  background-color: var(--background);
  color: var(--text);
  border-radius: 15px;
  /* margin: auto; */
  /* margin-top: 5rem; */
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.25rem;
  display: flex;
  place-items: center;
  place-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-weight: bolder;
  border: none;

  position: absolute;
  right: 3rem;
  bottom: 3rem;

  transition: width 500ms ease-in-out;
}

.button > * {
  margin-inline: 0.25rem;
}

.button:hover {
  background-color: var(--primary);
  color: var(--background);
  width: 15%;
}

.button:hover::after {
  content: 'Create Schedule';
  width: 60%;
  /* transition: width 300 ease-in-out; */
}
