.ul {
  list-style-type: none;
}

.left-navbar {
  background-color: var(--base-300);
  height: 100%;
  width: 15%;
  position: absolute;
  left: -15%;
  border-radius: 25px;
  transition: left 500ms ease-in-out;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  padding: 2rem 0;
  /* display: flex;
    place-items: center;
    flex-direction: column; */
  z-index: 115;
}

.left-navbar-list {
  display: flex;
  place-content: center;
}

.left-navbar-list > ul > * > li {
  padding: 0.5rem 2rem;
  /* margin: 0.5rem; */
  background-color: var(--base-300);
  border-radius: 999px;
}

.left-navbar-list > ul > * > li:hover {
  background-color: var(--base-600);
}

.left-navbar-list > ul > * > li:active {
  background-color: var(--accent-300);
}

.left-navbar-open {
  left: 0.75rem;
}

.button {
  border-radius: 15px;
  margin-left: 1.75rem;
  margin-bottom: 25px;
  height: 3.5rem;
  width: 45%;
  font-size: 1.25rem;
  display: flex;
  place-items: center;
  place-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.button:hover {
  background-color: var(--accent-300);
}
