.login-container {
  display: flex;
  background-image: url(../../public/loginBackground.jpg);
  background-size: cover;

  /* flex-direction: column; */
  /* place-items: center; */
  /* place-content: center; */
  height: 100vh;
  width: 100vw;
}

.login {
  color: var(--accent-300);
  background-color: var(--black);
  /* opacity: 0.5; */
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  width: 60vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.login > h1 {
  margin: 1rem;
}

.login > input {
  font-weight: bolder;
  background-color: var(--base-900);
  color: var(--base-300);
  width: 50%;
  margin: 0.5rem;
  padding: 1rem;
  border: 0;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.login > input:focus {
  outline: none;
}

.button {
  background-color: var(--accent-600);
  color: var(--base-300);
  border-radius: 15px;
  height: 3.5rem;
  width: 45%;
  font-size: 1.25rem;
  margin: 2rem;
  display: flex;
  place-items: center;
  place-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.button:hover {
  background-color: var(--accent-300);
  color: var(--base-300);
}
