.navbar-container {
  display: flex;
  height: 100%;
  position: relative;
  padding: 0 2rem;
}

.navbar-container ul {
  display: flex;
  place-content: center;
  place-items: center;
  list-style-type: none;
  /* height: 100%; */
  /* z-index: 5; */
}

.navbar-container ul li {
  padding: 0 1rem;
  /* min-width: 2rem;
  max-width: 12rem; */
  /* overflow-x: auto; */
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
}

.active {
  /* position: absolute; */
  background-color: var(--background);
  border-radius: 10px 10px 0 0;
  position: relative;
  /* padding: 3rem; */
  /* transition: 0.5s; */
}

.active::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: var(--secondary);
  left: -20px;
  bottom: 0px;
  border-bottom-right-radius: 25px;
  box-shadow: 5px 5px 0 0 var(--background);
  /* transition: 0.5s; */
}

.active::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: var(--secondary);
  right: -20px;
  bottom: 0px;
  border-bottom-left-radius: 25px;
  box-shadow: -5px 5px 0 0 var(--background);
  /* transition: 0.5s; */
}
