.schedule-item {
  /* position: relative; */
  background-color: var(--base-300);
  /* height: 15vh; */
  /* aspect-ratio: 8/1; */
  border-radius: 25px;
  padding: 2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  z-index: 101;
  /* top: 7rem;
    left: 2.5rem; */
  margin: 1rem;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  transition: transform 0.25s ease-in-out;
}

.schedule-item:hover {
  transform: scale(1.01);
  color: var(--accent-900);
}

.schedule-item-title,
.schedule-item-session {
  padding: 0.25rem;
}

.schedule-item-code {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
