.form {
  position: relative;
  margin: auto;
  margin-bottom: 0;
}
.container {
  display: flex;
  flex-direction: column;
  /* place-content: center; */
  place-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.table {
  margin: 1rem;
  border-radius: 25px;
  /* padding: 0.25rem; */
  background-color: var(--secondary);
  overflow-y: auto;
}
.table::-webkit-scrollbar {
  display: none;
}

.table-row:nth-child(1) {
  position: sticky;
  top: 0;
  z-index: 25;
}

.table-row {
  display: flex;
  /* width: 100%; */
  /* position: relative; */
}

.table-heading {
  /* margin-top: 0.25rem; */
  padding: 1rem 4rem;
  background-color: var(--primary);
  color: var(--background);
}

.table-column {
  flex-grow: 1;
  margin-top: 0.25rem;
  padding: 1rem 4rem;
  /* background-color: var(--accent-600);
      position: sticky;
      top: 0; */
}

.table-column-input {
  padding: 1rem 1.5rem;
}

.table-heading-1 {
  border-radius: 25px 0 0 25px;
}
.table-heading-2 {
  border-radius: 0;
}
.table-heading-3 {
  border-radius: 0 0 0 0;
}
.table-heading-4 {
  border-radius: 0 25px 25px 0;
}

.add-button {
  position: absolute;
  width: 7.5rem;
  right: -10rem;
  bottom: 0;
  /* background-color: var(--secondary); */
}

.delete-button {
  display: flex;
  margin: auto;
  width: 7.5rem;
}

.button {
  background-color: var(--background);
  border-radius: 15px;
  height: 3rem;
  width: 40%;
  font-size: 1rem;
  margin: 0.25rem;
  display: flex;
  place-items: center;
  place-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: none;
}

.button:hover {
  background-color: var(--primary);
  color: var(--background);
}
